.root
  color $sidenav-text-color
  outline none
  border none
  border-top 1px solid alpha($border-color, 20%)
  border-bottom 1px solid alpha($border-color, 20%)
  background-color transparent
  height 110px
  width 100%
  cursor pointer
  &:hover
    background darken($notelist-background-color, 2%)
