.root
  position absolute
  height 100vh
  width 100vw
  background-color alpha(black, 90%)
  .modal
    margin-right auto
    margin-left auto
    width 500px
    height 300px
    background-color white
