.nonote_root
  position relative
  top 40vh
  text-align center
  vertical-align middle
  color $sidenav-text-color
  font-size 35px
  font-weight 900
  button
    background-color $sidenav-text-color
    color white
    outline none
    border none
    cursor pointer
