.notelist_root
  background-color $notelist-background-color
  absolute top bottom
  left 240px
  width 300px
  .header
    button
      outline none
      border none
      background-color transparent
      cursor pointer
      font-size 30px
      color $sidenav-text-color
      &:hover
        color darken($sidenav-text-color, 40%)
