.root
  position absolute
  top 8px
  left 180px
  button
    cursor pointer
    outline none
    border none
    border-radius 50%
    background-color $sidenav-color
    color $sidenav-text-color
    background-color $sidenav-hover-color
    padding 10px
    &:hover
      background-color lighten($sidenav-hover-color, 20%)
