.root
  button
    outline none
    width 100%
    border none
    background-color $sidenav-color
    color $sidenav-text-color
    &:hover
      background-color $sidenav-hover-color
    &:active
      font-weight 900
