.root
  .folder
    border-top 1px solid $border-color
    border-bottom 1px solid $border-color
    padding 10px 0 10px 0
    width 100%
    text-align center
    outline none
    background-color $sidenav-color
    color $sidenav-text-color
    &:hover
      background-color $sidenav-hover-color
    &:active
      font-weight 900
