.root
  .folder
    border-top 1px solid black
    border-bottom 1px solid black
    padding 10px 0 10px 0
    width 100%
    text-align center
    outline none
    &:hover
      background-color #f9f9f9
    &:active
      font-weight 900
